Binaries
DerivedDataCache
Intermediate
Saved
*.opensdf
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/*.opendb
/.vs/config/applicationhost.config
/*.db
.vs
*.nupkg
/*.p7s
/horizonuiplugindemo.nuspec
/Build/Script/*/*.user
/Build/**/obj/Debug
/Build/**/obj/Development
/Build/WindowsNoEditor/FileOpenOrder/CookerOpenOrder.log
/Build/WindowsNoEditor/FileOpenOrder/EditorOpenOrder.log
/Content/NonUFS/Copy/Game.version
/Build/Android/FileOpenOrder/CookerOpenOrder.log
/Build/Android/FileOpenOrder/EditorOpenOrder.log
/Build/Android/src/com/horizon/uidemo/AlarmReceiver.java
/Build/Android/src/com/horizon/uidemo/DownloaderActivity.java
/Build/Android/src/com/horizon/uidemo/OBBData.java
/Build/Android/src/com/horizon/uidemo/OBBDownloaderService.java
/Releases/4.23.0.283/WindowsNoEditor/AssetRegistry.bin
/Releases/4.23.0.283/WindowsNoEditor/HorizonUIPluginDemo-WindowsNoEditor.pak
/Releases/4.23.0.283/WindowsNoEditor/Metadata/DevelopmentAssetRegistry.bin
/Test/HorizonUIPluginDemo_test
