[submodule "Plugins/HorizonUIPlugin"]
	path = Plugins/HorizonUIPlugin
	url = https://hsgame.visualstudio.com/UE4HorizonPlugin/_git/HorizonUIPlugin
[submodule "ue_ci_scripts"]
	path = ue_ci_scripts
	url = https://hsgame.visualstudio.com/UEHorizonBuildScript/_git/ue_ci_scripts
[submodule "horizon_ci_scripts"]
	path = horizon_ci_scripts
	url = https://hsgame.visualstudio.com/UEHorizonBuildScript/_git/horizon_ci_scripts
[submodule "Test/Report"]
	path = Test/Report
	url = https://hsgame.visualstudio.com/UE4HorizonPlugin/_git/HorizonUIPluginDemo_TestReport
