Binaries
DerivedDataCache
Intermediate
Saved
*.opensdf
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/*.opendb
/.vs/config/applicationhost.config
/*.db
.vs
*.nupkg
/*.p7s
/horizonuiplugindemo.nuspec
/Build/Script/*/*.user
/Build/**/obj/Debug
/Build/**/obj/Development
/Content/NonUFS/Copy/Game.version
CookerOpenOrder.log
EditorOpenOrder.log
LastCoverageResults.log
Releases
.scannerwork
/Build/Script/**/bin/
/Build/Script/**/obj/
/.vsconfig
/Build/Script/HorizonUIPluginDemo.Automation/*.props
/Build/Android/src/com/epicgames/ue4/DownloadShim.java
/Build/Android/src/com/horizon/uidemo/OBBData.java
/Build/Android/src/com/epicgames/unreal/DownloadShim.java
/Build/Android/src/com/horizon/uidemo/DownloaderActivity.java
