[submodule "Plugins/HorizonUIPlugin"]
	path = Plugins/HorizonUIPlugin
	url = https://dev.azure.com/kanohorizonia/UEHorizonPlugin/_git/HorizonUIPlugin

[submodule "Build/Base"]
	path = Build/Base
	url = https://dev.azure.com/kanohorizonia/EpicGames/_git/KanoUnrealBuildTool

