name: $(Date:yyyyMMdd).$(Rev:.r)

trigger:
  batch: true
  branches:
    include:
      - master
  paths:
    include:
      - Source/*
      - Plugins/*
      - Content/*
      - /*.uproject

variables:
    - name:  Pipeline.GameProjectRoot
      value: '.'


parameters:
  - name: bCleanSCM
    displayName: Pipeline bCleanSCM
    type: boolean
    default: false
    values:
    - true
    - false

  - name: bBuildWin64
    displayName: Pipeline bBuildWin64
    type: boolean
    default: true
    values:
    - true
    - false
  - name: bBuildAndroid
    displayName: Pipeline bBuildAndroid
    type: boolean
    default: true
    values:
    - true
    - false
  - name: bBuildMac
    displayName: Pipeline bBuildMac
    type: boolean
    default: true
    values:
    - true
    - false
  - name: bBuildIOS
    displayName: Pipeline bBuildIOS
    type: boolean
    default: true
    values:
    - true
    - false

resources:
  repositories:
    - repository: templates
      type: git
      name: EpicGames/azure-pipelines-template

# verify-plugin-build
jobs:
    #- ${ if eq(variables['Pipeline.bBuildWin64'], 'true') }:

    - template: job/verify-plugin-build.yml@templates
      parameters: 
          bRunAutomationTest: true
          bCleanSCM: ${{ parameters.bCleanSCM }}
          bBuildWin64: ${{ parameters.bBuildWin64 }}
          bBuildAndroid: ${{ parameters.bBuildAndroid }}
          bBuildMac: ${{ parameters.bBuildMac }}
          bBuildIOS: ${{ parameters.bBuildIOS }}
